# Environment variables
.env.local

# Docker
docker-compose.override.yml

# Backend (Node.js)
backend/node_modules/
backend/.env
backend/dist/

# Frontend (Flutter)
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log